<div class="row">
    <div class="col-md-12" style="max-width: 80%; margin: 0 auto;">
        
        <form>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <div>
                <button class="btn btn-primary btn-block">Sign Up</button>

                <button class="btn btn-secondary btn-block">Switch to Login</button>
            </div>
        </form>
    </div>
</div>